*{
    margin: 0%;
}

html{
    scroll-behavior: smooth;
}


/* Fundo do site e fonte */
body{
    background: linear-gradient(68.15deg, #efe4b9 16.62%, #ebc272 85.61%);
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

/* A primeira linha do site com as seções */
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    

    
  


}
/* Cor da fonte*/
a{
    color: black;
    text-decoration: line;
}

/* Imagem do Site */
img{
    width: 150px;
    height: 200px;
    border-radius: 20%;
    border: 5px solid black
}

/* Centralizar */
.center{

    text-align: center;
}

/* Seções */
section{
    min-height: 0vh;
}

#sobre{
    background-color: (255, 246, 221);
}

#hobbies{
    background-color: rgb((255, 246, 221));
}

#contatos{
    background-color: rgb((255, 246, 221));
}


/* Efeitos passando o mouse */

.efeitoblue:hover{
    color: rgb(0, 17, 255);
}

/* Botão de voltar ao topo no fim da pagina */
.teste{
    
    display: flex;
    justify-content: end;

}

main{
    margin-left: 0px;
}

